<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kong.qingwei.mapper.MyLogMapper" >
  <resultMap id="BaseResultMap" type="com.kong.qingwei.bean.MyLog" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MESSAGE" property="message" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="IP" property="ip" jdbcType="VARCHAR" />
    <result column="log_level" property="logLevel" jdbcType="VARCHAR" />
    <result column="log_type" property="logType" jdbcType="VARCHAR" />
    <result column="log_class" property="logClass" jdbcType="VARCHAR" />
    <result column="log_message" property="logMessage" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, create_time, MESSAGE, USER_NAME, IP, log_level, log_type, log_class, log_message
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kong.qingwei.bean.MyLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from my_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from my_log
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from my_log
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.kong.qingwei.bean.MyLogExample" >
    delete from my_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kong.qingwei.bean.MyLog" >
    insert into my_log (ID, create_time, MESSAGE, 
      USER_NAME, IP, log_level, 
      log_type, log_class, log_message
      )
    values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{message,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{logLevel,jdbcType=VARCHAR}, 
      #{logType,jdbcType=VARCHAR}, #{logClass,jdbcType=VARCHAR}, #{logMessage,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kong.qingwei.bean.MyLog" >
    insert into my_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="message != null" >
        MESSAGE,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="ip != null" >
        IP,
      </if>
      <if test="logLevel != null" >
        log_level,
      </if>
      <if test="logType != null" >
        log_type,
      </if>
      <if test="logClass != null" >
        log_class,
      </if>
      <if test="logMessage != null" >
        log_message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="logLevel != null" >
        #{logLevel,jdbcType=VARCHAR},
      </if>
      <if test="logType != null" >
        #{logType,jdbcType=VARCHAR},
      </if>
      <if test="logClass != null" >
        #{logClass,jdbcType=VARCHAR},
      </if>
      <if test="logMessage != null" >
        #{logMessage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kong.qingwei.bean.MyLogExample" resultType="java.lang.Integer" >
    select count(*) from my_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update my_log
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.message != null" >
        MESSAGE = #{record.message,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.ip != null" >
        IP = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.logLevel != null" >
        log_level = #{record.logLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.logType != null" >
        log_type = #{record.logType,jdbcType=VARCHAR},
      </if>
      <if test="record.logClass != null" >
        log_class = #{record.logClass,jdbcType=VARCHAR},
      </if>
      <if test="record.logMessage != null" >
        log_message = #{record.logMessage,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update my_log
    set ID = #{record.id,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      MESSAGE = #{record.message,jdbcType=VARCHAR},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      IP = #{record.ip,jdbcType=VARCHAR},
      log_level = #{record.logLevel,jdbcType=VARCHAR},
      log_type = #{record.logType,jdbcType=VARCHAR},
      log_class = #{record.logClass,jdbcType=VARCHAR},
      log_message = #{record.logMessage,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kong.qingwei.bean.MyLog" >
    update my_log
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null" >
        MESSAGE = #{message,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        IP = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="logLevel != null" >
        log_level = #{logLevel,jdbcType=VARCHAR},
      </if>
      <if test="logType != null" >
        log_type = #{logType,jdbcType=VARCHAR},
      </if>
      <if test="logClass != null" >
        log_class = #{logClass,jdbcType=VARCHAR},
      </if>
      <if test="logMessage != null" >
        log_message = #{logMessage,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kong.qingwei.bean.MyLog" >
    update my_log
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      MESSAGE = #{message,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      IP = #{ip,jdbcType=VARCHAR},
      log_level = #{logLevel,jdbcType=VARCHAR},
      log_type = #{logType,jdbcType=VARCHAR},
      log_class = #{logClass,jdbcType=VARCHAR},
      log_message = #{logMessage,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>